services:
  ynym-portal-backend:
    build: .
    image: ynym-portal-backend
    container_name: ynym-portal-backend
    hostname: ynym-portal-backend
    restart: always
    environment:
      - DB_HOST=
      - DB_NAME=
      - DB_USER=
      - DB_PASSWORD=
    networks:
      - ynym-portal-network
      - nginx-proxy-network

networks:
  ynym-portal-network:
    name: ynym-portal-network
    external: true
  nginx-proxy-network:
    name: nginx-proxy-network
    external: true
